@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    --accent-bg-color: #1992d4;
    --accent-color: #fff;
    font-family: Roboto, sans-serif;
}

ul {
    list-style-type: none;
}

.container {
    display: grid;
    grid-template: 150px 1fr / 250px 5fr;
    height: 100vh;
}

.sidebar {
    padding: 20px;
    background-color: var(--accent-bg-color);
    grid-row: span 2;
    color: var(--accent-color, #fff);
    display: grid;
    grid-template-columns: 1fr;
    align-content: start;
    gap: 1.5em;
    font-weight: 900;
}

/* SIDEBAR */

.sidebar ul {
    font-size: 1.2rem;
    display: contents;
}

.sidebar li {
    margin-left: 8px;
}

.sidebar .mdi {
    margin-right: 10px;
}

.sidebar li:nth-last-of-type(4) {
    margin-bottom: 1.2em;
}

.sidebar h1 {
    font-size: 1.5rem;
    margin-bottom: 1em;
}

.sidebar h1 .mdi {
    font-size: 2.5rem;
    vertical-align: middle;
}

/* MAIN HEADEER */

.main-header {
    box-shadow: 0 0px 10px 0px #0003;
    background-color: var(--accent-color);
    clip-path: inset(-30px 0);
    padding: 0 50px;
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
}

.main-header .mdi {
    font-size: 1.5rem;
}

.search {
    font-size: 1.45rem;
    display: grid;
    gap: 10px;
    grid-template-columns: max-content 1fr;
    align-items: center;
}

.search-box {
    background-color: #e2e8f0;
    border-radius: 100px;
    width: 600px;
    height: 30px;
}

.notification-section {
    justify-self: end;
    display: grid;
    gap: 20px;
    grid-template-columns: max-content max-content 1fr;
    align-items: center;
}

.notification-section .mdi-account-circle {
    font-size: 2rem;
}

.profile-name {
    font-weight: bold;
}

.profile-overview {
    display: grid;
    column-gap: 10px;
    grid-template-columns: max-content 1fr;
    justify-self: start;
    align-items: center;
}

.profile-overview .mdi {
    font-size: 3rem;
    grid-row: span 2;
}

.profile-desc {
    font-size: 0.7rem;
    align-self: flex-end;
}

.profile-overview .profile-name {
    grid-column: 2;
}

.buttons-section {
    justify-self: end;
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
}

.buttons-section .button {
    background-color: var(--accent-bg-color);
    border: none;
    padding: 0.7rem 1.2rem;
    border-radius: 100px;
    color: #fff;
    font-weight: bold;
}

/* MAIN BODY */
.main-body {
    background-color: #e2e8f0;
    display: grid;
    gap: 50px;
    grid-template-columns: 3fr 1fr;
    padding: 30px 100px;
}

.main-title {
    margin-bottom: 12px;
    font-weight: bold;
}

.projects {
    display: grid;
    gap: 30px;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
}

.card {
    display: grid;
    background-color: var(--accent-color);
    padding: 25px 30px;
    border-radius: 8px;
    border-left: 10px solid #f0b429;
}

.card-title {
    font-weight: bold;
    margin-bottom: 5px;
    text-transform: capitalize;
}

.card-body {
    margin-bottom: 20px;
    color: #636363;
}

.card-icons {
    font-size: 1.3rem;
    display: grid;
    gap: 25px;
    grid-template-columns: max-content max-content max-content;
    justify-self: end;
}

.card-icons * {
    cursor: pointer;
}

.body-sidebar > :first-child {
    margin-bottom: 30px;
}

.announcements,
.trending {
    background-color: var(--accent-color);
    padding: 30px 25px;
    border-radius: 15px;
}

.announcement:not(:last-child)::after {
    content: "";
    display: block;
    height: 1px;
    background-color: #636363;
    margin: 10px 0;
}

.announcement-title {
    font-weight: bold;
    margin-bottom: 4px;
}

.announcement-body,
.trending-item p:last-child {
    color: #636363;
}
