@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    --accent-bg-color: #1992d4;
    --accent-color: #fff;
    font-family: Roboto, sans-serif;
}

ul {
    list-style-type: none;
}

.container {
    display: grid;
    grid-template: 150px 1fr / 1fr 5fr;
    height: 100vh;
}

.sidebar {
    padding: 20px;
    background-color: var(--accent-bg-color);
    grid-row: span 2;
    color: var(--accent-color, #fff);
    display: grid;
    grid-template-columns: 1fr;
    align-content: start;
    gap: 1.5em;
    font-weight: 900;
}

.sidebar ul {
    display: contents;
}

.sidebar li:nth-last-of-type(4) {
    margin-bottom: 1.2em;
}

.sidebar h1 {
    margin-bottom: 1.5em;
}

.main-header {
    background-color: black;
}

.main-body {
    background-color: red;
}
